<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<!-- 모든위치에 있는 application-properties.xml 파일을 읽어서 key/value 쌍으로 가지고 있으라고 설정 -->
	<context:property-placeholder location="classpath*:application-properties.xml"/>
	
	<!-- 톰캣 기동시 PostConstruct 어노테이션 사용시 필요 -->
	<context:annotation-config/>
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" 
		p:driverClassName="${database.driverClassName}"
		p:url="${database.url}"
		p:username="${database.username}"
		p:password="${database.password}"
	/>
	
	<bean id="userDao" class="net.slipp.dao.users.UserDao"
		p:dataSource-ref="dataSource"
		
	/>

</beans>
